@inherits Custom.Hybrid.RazorTyped
@* FYI: this inherits from RazorTyped to use the latest APIs. Learn more on https://go.2sxc.org/cs-typed *@

<div @Kit.Toolbar.Default(MyItem)>
  <h1>Welcome to your new App</h1>
  <div class="alert alert-secondary">
    This is a empty template app with a few tips to get you started. <br>
    You are seeing <code>/Default.cshtml</code> since it's the first an only view in this App as of now. <br>
    Click <a href="?getstarted=true">🆘</a> to see more tips on getting started.
  </div>

  <hr>
  <p>
    This is the <code>Default.cshtml</code>.
    You can basically replace anything in here to create your own app.
  </p>
</div>